<?xml version="1.0" encoding="UTF-8" ?>

<module name="install">

  <interceptor module="install" class="InstallInterceptor" method="isInstalled" event="before" />

   <action name="dispInstallLicense" class="InstallView" method="dispInstallLicense" index="true">
      <permission>everyone</permission>
      <type>view</type>
      <template>install.license.php</template>
    </action>

   <action name="dispInstallPrepare" class="InstallView" method="dispInstallPrepare">
      <permission>everyone</permission>
      <type>view</type>
      <template>install.prepare.php</template>
    </action>
   <action name="procInstallPrepare" class="InstallController" method="procInstallPrepare">
      <permission>everyone</permission>
      <type>controller</type>
      <result>xml</result>
    </action>

   <action name="dispInstallDbSetting" class="InstallView" method="dispInstallDbSetting">
      <permission>everyone</permission>
      <type>view</type>
      <template>install.db.setting.php</template>
    </action>
   <action name="procInstallDbSetting" class="InstallController" method="procInstallDbSetting">
      <permission>everyone</permission>
      <type>controller</type>
      <result>xml</result>
    </action>

   <action name="dispInstallStatus" class="InstallView" method="dispInstallStatus">
      <permission>everyone</permission>
      <type>view</type>
      <template>install.status.php</template>
    </action>
   <action name="procInstallCreateTable" class="InstallController" method="procInstallCreateTable">
      <permission>everyone</permission>
      <type>controller</type>
      <result>xml</result>
    </action>
    <action name="procInstallModule" class="InstallController" method="procInstallModule">
      <permission>everyone</permission>
      <type>controller</type>
      <result>xml</result>
    </action>

   <action name="dispInstallAdminInsert" class="InstallView" method="dispInstallAdminInsert">
      <permission>everyone</permission>
      <type>view</type>
      <template>install.admin.insert.php</template>
    </action>
    <action name="procInstallAdminInsert" class="InstallController" method="procInstallAdminInsert">
      <permission>everyone</permission>
      <type>controller</type>
      <result>xml</result>
    </action>

   <action name="dispInstallSuccess" class="InstallView" method="dispInstallSuccess">
      <permission>everyone</permission>
      <type>view</type>
      <template>install.success.php</template>
    </action>

</module>